/* still missing
1. A specified standard san-serif web font for data (such as Arial, Verdana, or Helvetica)
3. Specified different font colors for all three font usages
4. A background color for the default page background (make sure font colors have good contrast and are readable on this background)
5. A different background color for elements such boxes and tables (so make sure the font colors contrast against this well, too!)
6. add a store phone for each location
*/

/* Base Styles */
* {
  font-family: Times;
  text-align: center;
  color: #ffffff;
  outline: 1px dashed red;
}

body {
  background-color: #ddd;
}

.clearfix {
  clear: both;
}
/* Site Styles */

/* Header Styles */
header {
  background-color: #153865;
  height: 50px;
  padding: 10px 0;
  z-index: 99;
  font-size: 180%;
}

header ul {
  margin: 10px 0;
  padding-bottom: 0;
}

/*#inner_header {
  max-width: 960px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}*/

/* Main Styles */
main {
  max-width: 960px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: #b28d48;
}

h1, h2, h5 {
  font-family: 'PT Serif', serif;
  text-align: center;
}

h3 {
  font-size: 200%;
  margin: 40px 0;
  padding: 20px 0;
  background-color: #153865;
}

h5 {
  font-size: 160%;
  margin: 30px auto;
}

/* Banner Styles */
#banner {
  max-width: 960px;
  height: 300px;
  position: relative;
}

#banner_image {
  height: auto;
  max-width: 150%;
  min-width: 100%;
  opacity: 1;
  position: relative;
}

#banner_text {
  max-width: 80%;
  position: absolute;
  top: 120px;
  left: 10%;
  max-height: 110px;
  background-color: #153865;
  opacity: .8;
  overflow: hidden;
}

#banner_text h1, #banner_text h2 {
  margin: 0 auto;
  opacity: 1;
}
#banner_text h1 {
  font-size: 240%;
  margin-top: 18px;
}

#banner_text h2 {
  font-size: 200%;
  margin-top: 5px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #982b0c;
}

/* Post Banner Styles */

main ul ul {
  display: inline-block;
  text-align: center;
  background-color: #153865;
  border-radius: 20px 10px;
  margin: 5px 5px;
  margin-top: 10px;
  padding: 0 10px;
  padding-bottom: 10px;
  min-width: 140px;
  max-width: 200px;
  transition: 750ms all;
  location: pointer;
}

.location:hover {
  background-color: #4876B2;
}

.location li:first-child {
  font-size: 150%;
  margin-top: 10px;
}
.location div {
  font-size: 90%;
}

.image_subBanner {
  margin: 10px 40px;
  display: inline-block;
}

.image_subBanner span {
  max-width: 380px;
  display: block;
  font-size: 150%;
  margin: 0 auto;
  margin-top: 2px;
}

.image_subBanner img {
  max-width: 300px;
  max-height: 260px;
}
.image_subBanner:nth-of-type(5) {
  margin-bottom: 50px;
}

/* Footer Style */
footer {
  background-color: #153865;
  height: 80px;
  position: absolute;
  width: 100%;
}

footer img {
  float: left;
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0;
  position: relative;
  left: 30px;
}

footer ul {
  /*padding: 20px 0px;*/
  padding-top: 20px
}
footer ul li {
  display: inline-block;
  padding: 5px 10px;
}
