/* Design of index.html webpage */

/* Base Styles */
* {
  font-family: Times, serif;
  text-align: center;
  color: #ffffff;
}

body {
  background-color: #ddd;
}

/* Header Styles */
header {
  background-color: #153865;
  height: 50px;
  padding: 10px 0;
  z-index: 99;
  font-size: 180%;
}

header ul {
  margin: 10px 0;
  padding-bottom: 0;
}

/* Main Styles */
main {
  max-width: 960px;
  min-width: 320px;
  min-height: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: #b28d48;
}

h1, h2 {
  text-align: left;
}

/* form items */
#cookie_form {
  padding: 50px 0;
}

input {
  margin: 5px 5px;
}

input:nth-of-type(7) {
  color: #111111;
  padding: 5px;
  font-size: 40px;
}

/* table items */
#patCookiesLocationTable {
  border: 1px solid;
  border-color: #black;
  margin: 80px 10px;
  padding: 0px;
  max-width: 960px;
  overflow: scroll;
  background-color: #ccc;
  color: black;
}

th {
  min-width: 5%;
  background-color: #153865;
  padding: 10px 0;
}

tr {
  max-width: 10%;
}

td {
  color: #111111;
}

td:first-of-type {
  background-color: #153865;
  color: white;
  padding: 5px;
}

/* Footer Style */

footer {
  background-color: #153865;
  height: 80px;
  position: absolute;
  width: 100%;
}

footer img {
  float: left;
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0;
  position: relative;
  left: 30px;
}

footer ul {
  padding-top: 20px
}
footer ul li {
  display: inline-block;
  padding: 5px 10px;
}
